$colours = {
    blue: {
        bp: #4169E0,
        b4: #4dabf7
    },
    grey: {
        g10: #212529,
        g9: #010001,
        g7: #495057,
        g1: #f8f9fa,
        g0: #ffffff
    }
}
